.my_navbar {
    position: sticky; 
    top: 0;
    z-index: 4563789;
}
body {
    text-align: center;
    background-color:#afe0de;
}
h3 {
  font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding: 5px;
}
.navbar {
    font-family: 'Zen Loop', cursive;
} 
.campuslifeimgsec {
    border: 1px solid #C7C7C7;
    padding-right: 0px;
    padding-left: 0px;
    float: none;
}
#placesincampusid {
    margin-top: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.travel_mainDiv
{
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #c7c7c7;
}

.travel_mainDiv img
{
  width: 100%;
  height:300px;
} 

.travel_mainDiv hr
{
    width: 100%; 
}

.travel_mainDiv h5 , .travel_mainDiv p
{
margin-left: 20px;
}
.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i{
    float: right;
    font-family: 'Zen Loop', cursive;
}
.movie_text p{
    font-family: 'Zen Loop', cursive;
    font-size: 30px;
}
#desc {
   font-family: 'Zen Loop', cursive;
    font-weight: bold;
    font-size: 34px;
    color: white;
}
.virtual_li img{
    width: 300px;
    height: 300px;
}
.virtual_li {
margin-top: 13px; 
}
.virtual_li h4{
    border-bottom: 1px solid white; 
    padding: 8px; 
}