.my_navbar {
    position: sticky; 
    top: 0;
    z-index: 4563789;
}
body {
    text-align: center;
    background-color:#afe0de;
}
h3 {
  font-family: 'Zen Loop', cursive;
    font-weight: bold;
}
.navbar {
    font-family: 'Zen Loop', cursive;
} 
#imgmaam {
    width: 200px;
    height: 200px;
}